/* ========== Font ========== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* ========== VARIABLE ========== */
:root {
   /* ======= Color ======= */
   --dark-color: #2D2D2D;
   --blue-color: #0984E3;
   --blue-light-color: #e4f2fd;
   --white-color: #FFFFFF;

   /* ======= Font weight ======= */
   --bold-font-weight: 800;
   --semi-bold-font-weight: 600;
   --little-bold-font-weight: 500;

   /* ======= Font size ======= */
   --first-big-font-size: 1.7rem;
   --mobile-font-icons: 1.5rem;
   --big-font-size: 1.3rem;
   --small-font-size: 1rem;
   --very-small-font-size: .750rem;

   /* ======= Height ======= */
   --global-height: 100vh;
   --header-height: 4rem;
   --header-height-mobile: 6vh;

   /* ======= Z index ======= */
   --z-tooltip: 30;
   --z-fixed: 100;
}

/* ========== GLOBAL ========== */
* {
   /* color: var(--dark-color) !important; */
   font-family: 'Lato';
   list-style: none;
   text-decoration: none !important;
}

html {
   scroll-behavior: smooth;
}