.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   background-color: var(--white-color);
   height: var(--header-height);
   line-height: var(--header-height);
   z-index: var(--z-fixed);
}
.header_logo {
   font-weight: var(--font-w-bold);
   color: var(--dark-color);
}
.header_logo span {
   color: var(--red-color);
}
.menu_item {
   margin-left: var(--mg-3);
}
.menu_link {
   color: var(--dark-color);
   transition: .2s ease-in-out;
}
.menu_link:hover {
   color: var(--red-color);
}
.menu_link i {
   padding-right: var(--mg-1);
}
.dark_mode {
   cursor: pointer;
}

.nav_close {
   display: none;
}
.nav_toggle {
   display: none;
   cursor: pointer;
   color: var(--red-color);
}

/* Mobile Devises */
@media screen and (max-width: 768px) {
   .menu {
      position: fixed;
      bottom: .7rem;
      left: 0;
      right: 0;
      width: 95%;
      margin: auto;
      transform: translateY(150%);
      transition: transform .6s ease-in-out;
      border-radius: 1.2rem;
      background-color: var(--white-color);
      box-shadow: -15px -13px 44px -16px rgba(99, 104, 108, 0.6);
      z-index: var(--z-fixed);
   }
   .menu_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.3rem;
      margin-top: var(--mg-7);
   }
   .menu_item {
      margin: 0;
   }
   .menu_link,
   .nav_close,
   .nav_toggle {
      display: flex;
   }
   .menu_link {
      align-items: center;
      flex-direction: column;
   }
   .menu_link i, 
   .dark_mode, 
   .nav_close {
      font-size: var(--h2-font-size);
   }
   .nav_close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
   }
   .menu.show {
      transform: translateY(0);
   }
}