.home_content {
   grid-template-columns: repeat(2, 1fr);
   gap: var(--mg-2);
   height: calc(100vh - var(--header-height));
   margin: var(--mg-2) auto;
}
.home_title {
   flex-direction: column;
}
.home_title span:last-child {
   color: #000;
   font-size: var(--biggest-font-size);
   font-weight: var(--font-w-bold);
}
.home_workPost  {
   font-size: var(--h3-font-size);
   margin: var(--mg-2) 0;
}
.home_workPost span {
   border-bottom: 5px solid var(--red-color);
   text-transform: uppercase;
   font-weight: var(--font-w-medium);
}
.home_description  {
   font-size: var(--h4-font-size);
   margin-top: var(--mg-4);
   margin-bottom: var(--mg-2);
}
.home_btn {
   background-color: var(--dark-color);
}
.home_btn i {
   margin-left: .5rem;
}
.home_btn:hover {
   background-color: var(--red-color);
}
.home_btns {
   margin-bottom: var(--mg-4);
}
.home_socialMedia a {
   align-items: center;
   padding: .8rem;
}
.home_socialMedia div {
   width: 50px;
   height: 50px;
   margin-right: 1rem;
   border-radius: 100%;
   background-color: var(--blue-light-color);
}
.home_socialMedia i {
   font-size: var(--h1-font-size);
   color: var(--dark-color);
   transition: .3s;
}
.home_socialMedia i:hover {
   color: #000;
}
.home_img_box {
   justify-self: end;
   width: 100%;
}
.home_img {
   display: block;
   border-radius: 1.5rem;
   width: 120%;
   z-index: var(--z-fixed);
}

/* Mobile version */
@media screen and (max-width: 960px) {
   .home_content {
      height: calc(100vh - var(--header-height));
   }
}
@media screen and (max-width: 638px) {
   .home_title span:last-child {
      font-size: var(--big-font-size);
   }
}
@media screen and (max-width: 542px) {
   .home_content {
      grid-template-columns: repeat(1, 1fr);
   }
   .home_img_box {
      width: 100%;
   }
   .home_img {
      width: 100%;
   }
}