.skills_content {
   margin: var(--mg-2) auto;
}
.skill_title {
   font-weight: var(--font-w-bold);
   font-size: var(--h5-font-size);
   color: var(--dark-color);
}
.skill_title i {
   margin-right: .6rem;
   color: var(--red-color);
}
.skills_cadre {
   border: .1rem solid var(--light-white-color);
   border-radius: 20px;
}
.skills_data {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: var(--mg-3);
   margin: var(--mg-2) auto;
   width: 100%;
}
.skill_data {
   justify-items: center;
}
.skill_title {
   width: 260px;
   text-align: center;
   background-color: var(--light-white-color);
   margin: var(--mg-3) auto;
   padding: var(--mg-2);
   border-radius: 15px;
}
.front_end,
.back_end, 
.design,
.tools {
   display: grid;
   gap: var(--mg-3);
   margin: var(--mg-4) auto;
}
.front_end {
   grid-template-columns: repeat(4, 1fr);
}
.back_end {
   grid-template-columns: repeat(4, 1fr);
}
.design {
   grid-template-columns: repeat(3, 1fr);
}
.tools {
   grid-template-columns: repeat(3, 1fr);
}
.front_end div, 
.back_end div,
.design div,
.tools div {
   width: 70px;
   height: 70px;
   background-color: var(--flight-white-color);
   border-radius: .5rem;
   cursor: pointer;
   transition: .8s;
}
.front_end div i, 
.back_end div i, 
.design div i,
.tools div i {
   font-size: var(--h1-font-size);
   transition: .5s;
}

.front_end div img,
.back_end div img,
.design div img,
.tools div img {
   width: var(--mg-5);
}

.html:hover,
.git:hover {
   filter: drop-shadow(0 0 1.2em #F06529);
}
.js:hover {
   filter: drop-shadow(0 0 1.2em #F0DB4F);
}
.css:hover,
.jquery:hover {
   filter: drop-shadow(0 0 1.2em #046CBD);
}
.sass:hover {
   filter: drop-shadow(0 0 1.2em #CD6799);
}
.react:hover,
.api:hover {
   filter: drop-shadow(0 0 1.2em #61DBFB);
}
.bootstrap:hover {
   filter: drop-shadow(0 0 1.2em #8312FA);
}
.wordpress:hover {
   filter: drop-shadow(0 0 1.2em #00749C);
}
.php:hover,
.vscode:hover {
   filter: drop-shadow(0 0 1.2em #44478e);
}
.mysql:hover,
.figma:hover {
   filter: drop-shadow(0 0 1.2em #EE8B00);
}
.node:hover,
.mongodb:hover {
   filter: drop-shadow(0 0 1.2em #3C873A);
}
.prototype:hover {
   filter: drop-shadow(0 0 1.2em #5a5a5a);
}
.wireframe:hover,
.github:hover {
   filter: drop-shadow(0 0 1.2em #393838);
}


/* Mobile Devises */
@media screen and (max-width: 900px) {
   .front_end {
      grid-template-columns: repeat(4, 1fr);
   }
   .back_end {
      grid-template-columns: repeat(4, 1fr);
   }
}
@media screen and (max-width: 800px) {
   .front_end {
      grid-template-columns: repeat(3, 1fr);
   }
   .back_end {
      grid-template-columns: repeat(3, 1fr);
   }
}
@media screen and (max-width: 670px) {
   .skills_data {
      grid-template-columns: 1fr;
   }
   .front_end {
      width: 100%;
      justify-items: center;
   }
   .back_end {
      width: 100%;
      justify-items: center;
   }
}